* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

main {
  min-height: calc(100vh - 200px); 
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}


.slick-prev {
  left: -30px !important;
}

.slick-next {
  right: -30px !important;
}